<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='table table-striped'>
    <tr>
        <td><%= f.label :hecho %><br>
    <%= f.check_box :hecho %></td><td><%= f.label :turno %><br>
    <%= f.select :turno,['Mañana','Tarde'] %></td><td> <%= f.label :item %><br>
    <%= f.text_field :item %></td>
    </tr>
  </table>
  
  <div class="actions">
    <%= f.submit 'Guardar recordatorio',:class=>'btn'%>
  </div>
<% end %>
