<h1>Lista de recordatorios</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Hecho</th>
      <th>Turno</th>
      <th>Item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%if todo.hecho=='false'%>
      PENDIENTE
    <%else%>
    Sí
    <%end%></td>
        <td><%= todo.turno %></td>
        <td><%= todo.item %></td>
        <td><%= link_to 'Ver', todo ,:class=>'btn' %></td>
        <td><%= link_to 'Editar', edit_todo_path(todo),:class=>'btn'  %></td>
        <td><%= link_to 'Borrar', todo, method: :delete,:class=>'btn' , data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo recordatorio', new_todo_path, :class=>'btn'%>
